<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>page1</title>
    </head>
    <body>
      <header>ほげ</header>
        page1
        <button onclick="location.href='p2'">
          page2へ
        </button>
        <button onclick="location.href='../'">
            topへ
          </button>
      </body>
</html>
